Repository Team1559/2023-Charged-Up, pull requests merged in 2023-02, with the labels that each got.

#31 Implement new swerve autonomous and teleop features
  src/main/java/frc/lib/SwerveTrajectoryGenerator.java
  src/main/java/frc/robot/AutoRoutes.java
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/Vision.java
  src/main/java/frc/robot/commands/SwerveTeleopDriveCommand.java
  src/main/java/frc/robot/commands/SwerveTeleopSnapRotateCommand.java
  src/main/java/frc/robot/commands/SwerveTrajectoryCommand.java
  src/main/java/frc/robot/subsystems/swerve/SwerveDrive.java
  src/main/java/frc/robot/subsystems/swerve/SwerveModule.java
Labels: Autonomous, Vision, Swerve

#33 Change maximum code line length to 100 chars
  java-formatter.xml
  src/main/java/frc/lib/DTXboxController.java
  src/main/java/frc/lib/SwerveTrajectory.java
  src/main/java/frc/lib/SwerveTrajectoryGenerator.java
  src/main/java/frc/robot/AutoRoutes.java
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/Vision.java
  src/main/java/frc/robot/commands/SwerveTeleopDriveCommand.java
  src/main/java/frc/robot/commands/SwerveTeleopSnapRotateCommand.java
  src/main/java/frc/robot/commands/SwerveTrajectoryCommand.java
  src/main/java/frc/robot/commands/TeleopWristAngleCommand.java
  src/main/java/frc/robot/subsystems/arm/ArmBase.java
  src/main/java/frc/robot/subsystems/arm/ArmElbow.java
  src/main/java/frc/robot/subsystems/arm/ArmWrist.java
  src/main/java/frc/robot/subsystems/arm/ArmWristCommandsTeleop.java
  src/main/java/frc/robot/subsystems/arm/FullArmCommands.java
  src/main/java/frc/robot/subsystems/grabber/GrabberClaw.java
  src/main/java/frc/robot/subsystems/grabber/GrabberWrist.java
  src/main/java/frc/robot/subsystems/swerve/SwerveDrive.java
  src/main/java/frc/robot/subsystems/swerve/SwerveModule.java
Labels: Cleanup

#28 new PR, changes while absent
  src/main/java/frc/robot/Constants.java
  src/main/java/frc/robot/RobotContainer.java
  src/main/java/frc/robot/subsystems/arm/Arm.java
  src/main/java/frc/robot/subsystems/arm/ArmBase.java
  src/main/java/frc/robot/subsystems/arm/ArmElbow.java
  src/main/java/frc/robot/subsystems/arm/ArmSegment.java
  src/main/java/frc/robot/subsystems/arm/ArmWrist.java
  src/main/java/frc/robot/subsystems/arm/ArmWristCommandsTeleop.java
Labels: Arm
